html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 400; */
}

*,
*:before,
*:after {
box-sizing: inherit;
}

/* MEDIA CATCH ALL */
img, embed, object, video {
  max-width: 100%;
}

body {
  color: #333;
  max-width: 85vw;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

header {
  margin: 1rem 0 2.5rem 0;
}

header a {
  color: #888;
  margin: 0.5rem 1rem 0.5rem 0;
  text-decoration: none;
}

main {
  flex: 1;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin: 1rem 0 0 0;
  padding: 1rem 0;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

.profile-picture {
  max-width: 20vw;
}
